.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.yellow{
    color: yellow;
}
.teal{
    color: teal;
}
.container{
    width: 600px;
    height: 500px;
}
.following{
    background-color: blue;
    color: white;
}
.modem{
    background-image: url("./images/basic_blue_wallpaper_1920x1080_by_blacklotusxx-d4qfovo.jpg");
    background-size: 100% 100%;
  color: white;
    width: 100vh;
    height: 100vh;
}
.repeat {
    background-image: url("https://via.placeholder.com/100"); 
    width: 200px;
    height: 300px;
    background-repeat: repeat-x;
}

