* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.box{
    background-color: blue;
    width: 200px;
    height: 200px;
   
}
