.container {
    display: grid;
    grid-template-areas: 
        'top top'
        'middle middle'
        'bottom bottom';
    gap: 10px;
    height: 300px;
}
.top {
    grid-area: top;
    background-color: red;
    z-index: 3;
}
.middle {
    grid-area: middle;
    background-color: green;
    z-index: 6;
}
.bottom {
    grid-area: bottom;
    background-color: purple;
    z-index: 9;
}