.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: white;
}
.item:nth-child(odd) {
    background-color: purple;
}
.item:nth-child(even) {
    background-color: yellow;
    color: black;
}