.x{
    font-family: 'Times New Roman', Times, serif;
}
.y{
    font-family: Arial, Helvetica, sans-serif;
}
.z{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}